/* src/assets/styles/utils/_colors.scss  */

$lightseagreen: #29c59c;

$darkslategray: #1f273e;
$darkgray: #a2a9b7;
$gray: #c4c4c4;
$midnightgray: #696969;
$lightgray: #e8ebed;

$blue: #90bce8;
$darkblue: #0F54B9;
$yellow: #febf26;
$green: #e3ebd3;
$orange: #ffaa87;
$red: #f55e62;
$purple: #c7abd4;
$black: #000000;
$white: #ffffff;
$graywhite: #f1f3f5;
