.container {
  margin: 45px auto 80px;
  width: 650px;
  min-width: 650px;
  line-height: 24px;

  @include bgImage(
    "../images/frame-background.png",
    $position: left 90% bottom 80%,
    $size: 250%
  );

  .dialog {
    padding: 41px 15px 0;
    overflow: auto;
    height: 65vh;
    margin-bottom: 30px;

    &__message {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      margin-bottom: 20px;

      &:last-child {
        margin: 0;
      }

      &--self {
        flex-flow: row-reverse wrap;
      }

      .message__icon {
        @include bgImage(
          "../images/person.png",
          $position: 55% 20%,
          $size: 275%
        );
        -webkit-clip-path: polygon(
          50% 0%,
          100% 38%,
          82% 100%,
          18% 100%,
          0% 38%
        );
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

        width: 47px;
        height: 47px;

        &--self {
          margin-left: 20px;
        }

        &--friend {
          margin-right: 20px;
        }
      }

      .message__text {
        position: relative;
        max-width: 78%;
        width: fit-content;
        padding: 15px;
        border-radius: 5px;
        background-color: $graywhite;

        // Message triangle
        &--friend::after,
        &--self::after {
          content: "";
          position: absolute;
          top: 30%;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-top: 0;
          margin-top: -4px;
        }

        &--friend::after {
          left: 0;
          border-right-color: $graywhite;
          border-left: 0;
          margin-left: -10px;
        }

        &--self::after {
          right: 0;
          border-left-color: $graywhite;
          border-right: 0;
          margin-right: -10px;
        }
      }
    }

    &__date {
      font-size: 14px;
      text-align: center;

      span {
        position: relative;
        display: inline-block;
        margin-bottom: 16px;

        &:before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          border-bottom: 2px solid #dbdbdb;
          width: 591px;
          margin: 0 20px;
        }

        &::before {
          right: 100%;
        }

        &::after {
          left: 100%;
        }
      }
    }
  }
}
