extends ./layouts/master.pug

block title
  title Test Idem

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Header
  header header

  .wrapper
    .box.box1
      .box1__block.block--darkgray.block--lg
        p Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.

      .box1__block.block.block--darkgray
        p Чувство однократно

      .box1__block.block.block--darkgray
        p Морено

    .box.box--sm.box2
      .box2__block.block.block--lightgray
        p Наши сотрудники

      .box2__block.block.block--lightgray
        p Просветляет понимающий тест

      .box2__block.block.block--lightgray.block--lg
        p Конформизм

      .box2__block.block.block--blue
        p Интроекция

      .box2__block.block.block--yellow
        p Наши сотрудники

    .box.box3
        .box3__block.block.block--green
          p Понятие модернизации понимает механизм власти

        .box3__block.block.block--img
          p Наши сотрудники
          .block__figure
            p !

        include ./components/list.pug

    .box.box--sm.box4
      .box4__block.block.block--orange
        p Лидерство

      .box4__block.block.block--orange
        p Однако

      .box4__block.block.block--orange
        p Точка перегиба

      .box4__block.block.block--red
        p Невероятный гений

      .box4__block.block.block--purple
        p Длина вектора

  //- Footer
  footer footer
