/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: $roboto;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

header,
footer {
  font-size: 24px;
  line-height: 20px;
  display: flex;
  background: $gray;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
}

p {
  margin: 0;
  font-size: 14px;
}

header {
  margin-bottom: 10px;
}
