.box3__block.block.block--green.block--lg
    ul.info-list
        li.info-list__item
            span.key Фамилия
            span.value Мамай
        li.info-list__item
            span.key Имя и Отчество
            span.value Станиславаленина Владимировна
        li.info-list__item
            span.key Номер полиса выдан заведомо ложный
            span.value 01354879
        li.info-list__item
            span.key Дата рождения
            span.value 01.12.1976
        li.info-list__item
            span.key Телефон
            span.value +79254218069